*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    /* justify-content: space-around; */
}

.yellow{
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
    margin: auto;
    height: 12px;
    width: 200px;
}