*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 100%;
    height: 40px;
    background-color: lightblue;
    align-items: center;
}

.yellow{
    background-color: lightgoldenrodyellow;
    border: 2px dashed black;
    height: 16px;
}

.logo, .login{
    width: calc(100% / 10);
}

.link{
    width: calc(100% / 2);
}

.blue{
    background-color: blue;
    height: 400px;
}

.fucsia{
    background-color: fuchsia;
    height: 360px;
    width: 500px;
}

.white{
    background-color: white;
    height: 400px;
}

.turchese{
    background-color: turquoise;
    width: 300px;
    height: 360px;
}

.pink{
    background-color: pink;
    width: 200px;
    height: 360px;
}

.grey{
    background-color: #ccc;
    height: 400px;
}

.green{
    background-color: green;
    width: 500px;
    height: 550px;
}

.large{
    height: 580px;
}

.black{
    background-color: black;
    height: 400px;
}